
body {
	font-family:sans-serif,STHeiti,Microsoft YaHei,Helvetica,Arial;
}

._btn {
	width: 80%;
	text-align: center;
	font-size: 0.3rem;
	border: 0.01rem solid #0af;
	border-radius: 0.1rem;
	height: 0.5rem;
	margin: auto;
	margin-top: 0.2rem;
	line-height: 0.5rem;
	color: #0af;
	background: #fff;
}

._btn:active {
	opacity: 0.5;
}

._btn2 {
	color: #f00;
	border-color: #f00;
}
