
@import "./font/iconfont.css";

* {
	-webkit-touch-callout: none; 
	-webkit-touch-callout:none;
	-moz-touch-callout:none;
	-ms-touch-callout:none;
	touch-callout:none;
}

body {
	margin: 0;
	padding: 0;
	font-family:sans-serif,STHeiti,Microsoft YaHei,Helvetica,Arial;
}

view {
	display: block;
}

.noselect {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-user-select: none;
	-moz-user-focus: none;
	-moz-user-select: none;
	user-select: none;
	outline: none;
	border: none;
}

.clear {
	clear: both;
	float: none !important;
	width: auto !important;
	height: auto !important;
	margin: auto !important;
}

.g_loading {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0,0,0,0.1);
	flex-direction: column;
}

.g_loading .text {
	padding: 0.1rem;
	font-size: 0.24rem;
	color: #444;
}

.g_upload {
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
}

.g_upload div.upload_icon {
	background-image: url(./img/icon_input_uploadpic@2x.png);
	position: absolute;
	z-index: 1;
	width: 0.4rem;
	height: 0.4rem;
	background-size: 100%;
	right: 0;
	bottom: -0.04rem;
	pointer-events:none;
}
