[submodule "dphoto-core"]
	path = deps/dphoto-core
	url = http://gitlab.stars-mine.com/hardware/dphoto-core.git
[submodule "dphoto-lib"]
	path = deps/dphoto-lib
	url = http://gitlab.stars-mine.com/hardware/dphoto-lib.git