
div, check, span, view, text, page, block, button, img, image, 
html,body,div,label,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,a,input,textarea {
	box-sizing: border-box;
	user-select: none;
	-webkit-user-select: none;
}

div::-webkit-scrollbar { display: none; }

input,textarea {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-moz-user-focus: none;
	-webkit-appearance:none;
	outline: none;
	border: none;
	user-select: initial;
}

select {
	vertical-align: middle;
	margin: 0;
	outline-style: none;
	-webkit-appearance: none;
	background: none;
}

body {
	overflow: hidden;
	background: #fff;
	font-size: 0.2rem;
}

/* btn */

._btn {
	background: #084697;
	color: #fff;
	height: 0.92rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.1rem;
	font-size: 0.3rem;
	margin: 0.18rem;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-user-select: none;
	-moz-user-focus: none;
	-moz-user-select: none;
	user-select: none;
	outline: none;
	border: none;
	flex: 1;
}

/*._foot */
._btn:active {
	opacity: 0.7;
}

/*._foot */
._btn.trans {
	background: none;
	color: #084697;
}

/*._foot */
._btn.white {
	background: #fff;
	color: #084697;
}

/*._foot */
._btn.light {
	background: #F0F4F9;
	color: #004697;
}

/*._foot */
._btn.disable, ._btn.gray {
	background: #c9c9d2;
	color: #fff;
	/*pointer-events: none;*/
}

._load_btn {
	padding: 0.22rem;
}

._load_btn div {
	width: 6.9rem;
	height: 0.92rem;
	margin: auto;
	text-align: center;
	font-size: 0.28rem;
	color: #2D2D2D;
	line-height: 0.92rem;
	background: #F8F8F8;
	border: solid 0.01rem #ECECEC;
}

._load_btn div:active {
	opacity: 0.5;
}

._load_btn div:after {
	content: '';
	background: url(../assets/mobile/general_arrowdown@2x.png);
	width: 0.26rem;
	height: 0.18rem;
	display: inline-block;
	background-size: 100%;
	margin-left: 0.08rem;
}

/* foot */

._foot {
	/*position: absolute;*/
	position: fixed;
	bottom: 0;
	width: 100%;
	background: rgba(255,255,255,0.98);
	z-index: 1;
	transform: translateZ(1px);
}

@media only screen and (min-aspect-ratio: 4/5) {
	._foot {
		display: none !important;
	}
}

._foot._foot {
	padding: 0.2rem 0.2rem 0.32rem;
}

._foot._foot_one {
	padding: 0.2rem 0.2rem 1.42rem;
	background: none;
}

._foot._foot_mini {
	display: flex;
	justify-content: center;
	padding: 0 0.16rem;
	/*border-top: solid 0.02rem #ECECEC;*/
}

._foot_mini:before {
	content: '';
	position: absolute;
	background-color: #ddd;
	display: block;
	z-index: 1;
	top: 0;
	right: 0;
	left: 0;
	height: 1px;
	transform-origin: 50% 100%;
	transform: scaleY(0.5);
}

._foot._foot ._info {
	color: #626262;
	font-size: 0.24rem;
	text-align: center;
	padding-top: 0.06rem;
	padding-bottom: 0.24rem;
}

._foot._foot_mini > ._btn {
	margin: 0.16rem 0.16rem;
}

/********************************/

._line {
	background-color: #ddd;
	display: block;
	width: 100%;
	height: 1px;
	transform-origin: 50% 100%;
}

._radio {
	width: 0.76rem;
	height: 0.76rem;
	background: url(../assets/mobile/icon2.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 0.48rem;
}

._radio.on {
	background-image: url(../assets/mobile/icon2_on.png);
}

._scroll {
	overflow: scroll;
	-webkit-overflow-scrolling : touch;
	/* overflow-scrolling : touch; */
}

._scroll::-webkit-scrollbar {
	width: 0px;
	height: 0px;
	background-color: transparent;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
	
	._line {
		transform: scaleY(0.5);
	}

}

@media (-webkit-min-device-pixel-ratio: 2) and 
(-webkit-min-device-pixel-ratio: 3), (min-resolution: 2dppx) and 
(min-resolution: 3dppx) {

	._line {
		transform: scaleY(0.33);
	}

}
