
div::-webkit-scrollbar { display: none; }

body {
	/* background: none; */
	/* overflow: hidden; */
	margin: 0;
	padding: 0;
}

.iso_sys {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	overflow: hidden;
}

.iso_activitys, .iso_covers {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.iso_covers {
	z-index: 3;
	transform-style: preserve-3d;
	transition-property: transform;
	transition-duration: 0ms;
}

.iso_widgets {
	position: absolute;
	pointer-events: none;
	z-index: 2;
	top: 0;
	left: 0;
}

.iso_activitys > div, .iso_covers > div {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.iso_activitys > div {
	transform-style: preserve-3d;
	transition-property: transform;
	transition-duration: 0ms;
}

.iso_activitys > div > div {
	width: 100%;
	height: 100%;
}

.iso_widgets > div {
	transition-property: opacity;
}

.iso_widgets > div > * {
	position: absolute;
	pointer-events: initial;
}