
body {
	background: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.iso_sys {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
}

.iso_bodys, .iso_widgets, .iso_covers, .iso_dialogs,
.iso_bodys > *, .iso_covers > * {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.iso_bodys {
	z-index: 2;
	transform-style: preserve-3d;
	transition-property: transform;
	transition-duration: 0ms;
}

.iso_covers {
	z-index: 3;
	transform-style: preserve-3d;
	transition-property: transform;
	transition-duration: 0ms;
}

.iso_widgets {
	z-index: 2;
	pointer-events: none;
}

.iso_dialogs {
	z-index: 4;
	pointer-events: none;
}

.iso_dialogs > *, .iso_widgets > * {
	pointer-events: initial;
}
