
.dphoto_art_details_profit_details {
	.txt1 {
		color: #999999;
		font-size: 0.28rem;
		line-height: 0.48rem;

		span {
			color: #fff;
		}
	}
	.txt2 {
		font-size: 0.2rem;
		color: #94BFFF;
		width: 5.2rem;
		line-height: 0.28rem;
		padding-top: 0.16rem;
	}
}
