
.dphoto_art_traceability {
	.scroll {
		margin-top: 0.2rem;
		box-sizing: border-box;
		height: 11.55rem;
		overflow-y: auto;
		padding: 0 0.3rem 0.4rem;
		padding-top: 0.2rem;
		position: relative;
	}
	.sort {
		width: 1.04rem;
		height: 0.5rem;
		line-height: 0.5rem;
		background-color: #3D4251;
		border-radius: 0.1rem;
		// padding-right: 0.16rem;
		text-align: center;
		color: #fff;
		background-position: right 0.1rem center;
		background-repeat: no-repeat;
		font-size: 0.24rem;
		box-sizing: border-box;
		margin-bottom: 0.2rem;
		&::after {
			content: '';
			display: inline-block;
			width: 0.19rem;
			height: 0.18rem;
			background-image: url(../../assets/art/sort.png);
		}
		&:active {
			opacity: 0.7;
		}
	}
	.sort.desc {
		&::after {
			transform: rotateZ(180deg);
		}
	}
	.info_block {
		background-color: #2C2E36;
		border-radius: 0.1rem;
		padding: 0.1rem 0.3rem 0.5rem 0.3rem;
		margin-bottom: 0.3rem;
		position: relative;
		padding-top: 0.3rem;
		&::before, &::after {
			content: '';
			display: block;
			position: absolute;
			width: 0.26rem;
			height: 1rem;
			background-image: url(../../assets/art/link.png);
			background-size: 100%;
			left: 0.3rem;
			top: -0.66rem;
			z-index: 2;
		}
		&::after {
			left: auto;
			right: 0.3rem;
		}
		&.first {
			padding-top: 0.1rem;
			&::before, &::after {
				content: none;
			}
		}
		.txt1 {
			font-size: 0.32rem;
			line-height: 0.32rem;
			height: 0.32rem;
			padding: 0.2rem 0.3rem 0.2rem 0rem;
			color: #EEEEEE;
			border-bottom: solid #3C424F 0.02rem;
			display: flex;
			margin-bottom: 0.1rem;
			&::before {
				content: '';
				display: inline-block;
				height: 100%;
				width: 0.08rem;
				border-radius: 0.04rem;
				background-color: #82A7DE;
				margin-right: 0.22rem;
			}
		}
		.txt2 {
			padding: 0.1rem 0 0.1rem 0.3rem;
			font-size: 0.24rem;
			line-height: 0.24rem;
			color: #999999;
			background-position: 0 center;
			background-repeat: no-repeat;
			margin-left: 0.3rem;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			span {
				color: #fff;
			}
		}
		.txt2.icon1 {
			background-image: url(../../assets/art/chain.png);
		}
		.txt2.icon2 {
			background-image: url(../../assets/art/id.png);
		}
		.txt2.icon3 {
			background-image: url(../../assets/art/node.png);
		}
		.box1 {
			width: 6rem;
			padding: 0.24rem 0.3rem;
			margin-top: 0.1rem;
			background-color: #3A4250;
			border-radius: 0.1rem;
			box-sizing: border-box;
			position: relative;
			.txt3 {
				color: #999999;
				font-size: 0.28rem;
				line-height: 0.28rem;
				padding: 0.1rem 0;
				display: flex;
				span {
					color: #fff;
				}
				span.mask {
					background-color: #94BFFF;
					display: inline-block;
					font-size: 0.2rem;
					line-height: 0.26rem;
					border-radius: 0.02rem;
					padding: 0 0.04rem;
					color: #fff;
					margin-left: 0.1rem;
				}
			}
			.genuine {
				background-image: url(../../assets/art/genuine.png);
				width: 1.04rem;
				height: 0.4rem;
				padding-top: 1.04rem;
				text-align: center;
				color: #FFFFFF;
				line-height: 0.4rem;
				position: absolute;
				right: 0.3rem;
				top: 0.06rem;
				background-repeat: no-repeat;
				font-size: 0.2rem;
			}
		}
	}
}

.dphoto_art_haishii_dialog {

	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	// justify-content: center;
	flex-direction: column;

	.img {
		width: 3.9rem;
		height: 3.9rem;
		margin: 0.47rem;
		margin-top: 2.58rem;
	}

	.txt {
		color: #EEEEEE;
		font-size: 0.28rem;
		line-height: 0.4rem;
		text-align: center;
		width: 5.56rem;
	}

	.close {
		background-image: url(../../assets/art/close.png);
		position: absolute;
		width: 0.45rem;
		height: 0.45rem;
		background-position: center;
		background-size: 100%;
		// right: 0.22rem;
		// top: 0.47rem;
		right: 0.5rem;
		top: 0.6rem;
		transition-property: opacity;
		transition-duration: 200ms;
		&:active {
			opacity: 0.7;
		}
	}
}